{
  "parser": "babel-eslint",
  "extends": ["airbnb"],

  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },

  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "no-console": 2,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2
      }
    ]
  }
}
